.vim-info-container {
  background-color: #00cecb;
  bottom: 0;
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.vim-mode {
  color: #ffffff;
  font-family: monospace;
  font-size: 24px;
  font-weight: 600;
  line-height: 50px;
  margin: 0 10px;
}
